<h1 class="is-size-2 mb-5">Answer show</h1>

  <span class="bd-snippet-tag bd-is-example mb-2">
    Question
  </span>
  <p  class="is-size-4 mb-5">
    <%= @answer.question.content %>
  </p>
  <span class="bd-snippet-tag bd-is-example mb-2">
      Answer
  </span>
  <p  class="is-size-4 mb-5">
    <%= @answer.content %>
  </p>

  <%= link_to 'Edit', edit_answer_path, class: 'button is-primary' %>